/* timerProgressContainer */
#timerProgressContainer{
    display: flex;
    border-bottom: solid 3.5px black;
    flex:1;

}
#timer{
    /* SHAPE */
    border-right: solid 3.5px black;
    flex:2;
    /* innerElement */
    display: flex;
    justify-content: center;
    align-items: center;
}
.timerStyle{
    display: flex;
    flex-direction: column;
}
/* timerLeft */
#timerLeft{
    margin-right: 150px;
}
#timerProgress{
    font-size: 3.5rem;
}
/* timerRight */
#timerRight span{
    font-size: 1.8rem;
}
#timerTotal{
    margin-bottom: 35px;
}

/* progress */
#progress{
    flex:1;
}
#progress dl{
    margin-top:32px;
}
.progressContainer{
    margin:15px;
}
#progressRod{
    height: 30px;
    border: solid 3px black;
}
#progressButton{
    display: flex;
    justify-content:center;
    border:solid 2px black
}
#progressButton li{
    flex:1;
    padding:30px;
    text-align: center;
    font-weight: 600;
    cursor:pointer;
    border-right: solid 2px black;
}

#progressStart{
    background-color: greenyellow;
}
#progressReset{
    background-color: #FFEBC1;
}
#progressStop{
    background-color: tomato;
} 

#progressStart:hover{
    background-color: green;
}
#progressReset:hover{
    background-color: brown;
}
#progressStop:hover{
    background-color: red;
}